.container{
  background-color: #F4F4F4;
  width: 900px;
  min-height: 600px;
  margin: auto;
  padding: 15px;
  padding-left: 15px;
}
.form{
  height: 600px;
  float: left;
}
.bold {
  color: #585454;
  font-size: 16px;
}
.comment{
  resize: none;
  width: 300px;
}
.btn-register{
  width: 306px;
  background-color: #DADADA;
  border-radius: 5px;
  border: solid 1px #000;
  padding: 5px;
}
.container-comments {
  width: 400px;
  float: left;
  margin-left: 80px;
  min-height: 600px;
  border-left: solid 2px #CCC;
  padding-left: 40px;
}
.btn-hear {
  background-color: #DADADA;
  border-radius: 5px;
  border: solid 1px #000;
  padding: 2px;
}
.post-comments {
  text-align: right;
}
